useDynLib(aihuman, .registration=TRUE)
import(Rcpp)
import(ggplot2)
importFrom("coda", "mcmc")
importFrom("stats", "model.matrix")
importFrom("stats", "quantile")
importFrom("stats", "qnorm")
importFrom("stats", "glm")
importFrom("magrittr", "%>%")
importFrom("purrr", "map")
importFrom("purrr", "pluck")
importFrom("purrr", "rbernoulli")
importFrom("abind", "abind")
importFrom("foreach", "foreach")
importFrom("foreach", "%dopar%")
importFrom("foreach", "%do%")
importFrom("parallel", "detectCores")
importFrom("doParallel", "registerDoParallel")
importFrom("dplyr", "group_by")
importFrom("dplyr", "filter")
importFrom("dplyr", "mutate")
importFrom("dplyr", "summarise")
importFrom("dplyr", "n")
importFrom("dplyr", "select")
importFrom("dplyr", "lag")
importFrom("dplyr", "arrange")
importFrom("dplyr", "left_join")
importFrom("dplyr", "pull")
importFrom("dplyr", "bind_rows")
importFrom("dplyr", "group_nest")
importFrom("tidyr", "pivot_longer")
importFrom("tidyr", "pivot_wider")
importFrom("tidyr", "unnest")
importFrom("metR", "geom_text_contour")
importFrom("metR", "label_placement_flattest")
importFrom("MASS", "polr")
importFrom("lme4", "glmer")
export(AiEvalmcmc)
export(CalAPCE)
export(CalAPCEparallel)
export(APCEsummary)
export(PlotStackedBar)
export(PlotStackedBarDMF)
export(CalDIM)
export(CalDIMsubgroup)
export(PlotDIMdecisions)
export(PlotDIMoutcomes)
export(CalPS)
export(PlotPS)
export(PlotAPCE)
export(CalDelta)
export(CalFairness)
export(PlotFairness)
export(CalOptimalDecision)
export(PlotOptimalDecision)
export(PlotUtilityDiff)
export(PlotUtilityDiffCI)
export(SpilloverCRT)
export(PlotSpilloverCRT)
export(SpilloverCRTpower)
export(PlotSpilloverCRTpower)
export(TestMonotonicity)
export(CalAPCEipw)
export(BootstrapAPCEipw)
export(APCEsummaryipw)
export(TestMonotonicityRE)
export(CalAPCEipwRE)
export(BootstrapAPCEipwRE)
export(BootstrapAPCEipwREparallel)
## export all regularly named functions
## (but allow for private functions whose name starts with a dot).name <- function(...)
exportPattern("^[[:alpha:]]+")
